.active:not(.link) {
  background-color: darkorchid;
}

.link,
.active {
  text-decoration: none;
  margin: 1px;
  padding: 5px;
  height: 20px;
  flex-basis: calc(100% / 3 - 12px);
  flex-grow: 1;
  background-color: rgb(76, 65, 224);
  color: white;
}

.link:hover {
  background-color: blueviolet;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.login-form {
  width: 60%;
  margin: auto;
}

.form-element {
  margin: 5px;
}

.login-btn,
.search-btn {
  border: 0px;
  border-radius: 5px;
  background-color: darkorchid;
  color: white;
  cursor: pointer;
}

.login-btn {
  margin: 5px;
}

.search-btn {
  margin: 0px 10px;
}

.gif-form {
  justify-content: center;
}

.search-label {
  margin: 0px 5px;
}

.gif {
  flex-basis: calc(25% - 8px);
  margin: 4px;
}

.gif img {
  width: 100%;
}
